<!-- wp:template-part {"slug":"header","theme":"fota-agency"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"fota-agency/banner-block"} /-->
  <!-- wp:pattern {"slug":"fota-agency/featured-block"} /-->
  <!-- wp:pattern {"slug":"fota-agency/about-block"} /-->
  <!-- wp:pattern {"slug":"fota-agency/pricing-block"} /-->
  <!-- wp:pattern {"slug":"fota-agency/testimonial-block"} /-->
  <!-- wp:pattern {"slug":"fota-agency/post-block"} /-->
  <!-- wp:pattern {"slug":"fota-agency/cta-block"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"fota-agency"} /-->
